<h1>Hi <%= logged_in_user.first_name %> <%= logged_in_user.last_name %></h1>
<div class="border_std col_2 group_all">
    <h2>Here are the organizations you may join:</h2>
    <div class="">
        <% Group.all.each do |group| %>
        <div class="group_display">
            <h3><a href="/groups/<%= group.id %>"><%= group.name %></a></h3>
            <p>Members: <%= group.user_members.count %></p>
            <p><%= group.description %></p>
            <% if logged_in_user == group.user %>
            <form class="" action="/groups/<%= group.id %>" method="post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input type="hidden" name="_method" value="delete">
                <input class="button_stop" type="submit" value="Delete Group">
            </form>
            <% end %>
        </div>
        <% end %>
    </div>
</div>

<div class="border_std col_2">
    <h2>Create a new organization:</h2>
    <% if flash[:group_creation_error] %>
    <p><%= flash[:group_creation_error] %></p>
    <% end %>
    <form class="" action="/groups" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="group[user_id]" value="<%= logged_in_user.id %>">
        <p>Name: <input type="text" name="group[name]" ></p>
        <p>Description: <textarea name="group[description]" rows="4" cols="50"></textarea></p>
        <input class="button_do" type="submit" value="Create">
    </form>
</div>
